<% provide(:title, "About") %>
  <h1><%= yield(:title) %></h1>
    <p>
      The <em>Markury</em>App is a
      tool to help teachers with marking.  It makes it easy apply the new curriculum concepts, namely competencies and content, to student reports.
    </p>
