<% provide(:title, "Help")%>
<h1><%= yield(:title) %></h1>
<p>
  This page tells you to how use <em>Markury</em> App as a simple tool to help you assess your students throughout their year,
  and how to generate fantastically gorgeous student reports.
</p>
